.container-fluid {
    width: 100% !important;
    padding: 0 !important;
}

.navbar-nav {
    flex: auto !important;
    flex-wrap: wrap !important;
    gap: 30px !important;
    justify-content: center !important;
    /* width: 100%; */
}

.navbar .content-right {
    display: flex;
    align-items: center;
}

.container.header-link {
    margin-top: 74px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

div#label {
    margin-top: 100px;
}

.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
}

.text-center {
    text-align: center;
    margin-bottom: 20px;
}




i.fas.fa-sign-in-alt {
    margin-left: 10px;
    font-size: 20px;
}

i.fas.fa-shopping-cart {
    position: relative;
}

#cartAmount {
    position: absolute;
    right: 143px;
    top: 5px;
    border: 1px solid red;
    background-color: red;
    color: white;
    font-size: 13px;
    height: 21px;
}



nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 8px 70px;
}


/* .container {
    max-width: 50rem !important;
} */
.content-right i {
    margin-right: 25px;
}

.navbar-brand {
    font-size: 25px;
    font-weight: 600;
}

.container-body {
    margin-top: 100px;
    height: 300px;
    border: 1px solid red;
    margin-bottom: 200px;
}


.container-footer {
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
}


.container-footer p.title-1 {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.container-fluid.p-5.container-footer {
    background-color: #e7e7e7;
}

.text-left {
    text-align: left !important;
    margin-left: 148px;
    width: 25%;
}

.text-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 48px;
}

.container-fluid.p-5.container-footer {
    height: 285px;
}


@media only screen and (max-width :700px) {
    i.fas.fa-shopping-cart {
        position: relative;
    }

    .details {
        width: 62%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0px;
        padding: 4px 0;
        height: 100%;
    }

    .cart-item {
        border: 2px solid #212529;
        border-radius: 5px;
        display: flex;
        width: 348px;
        justify-content: space-between;
        height: 92px;
    }

    .title-price-x {
        width: 211px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* border: 2px solid red; */
        height: 40%;
    }

    .cart-buttons {
        height: 30%;
    }

    .total {
        height: 30%;
    }

    .title-price p {
        font-size: 14px;
    }

    .quantity-text {
        font-size: 14px;
        font-weight: 600;
    }

    .title-price-name {
        font-size: 14px;
    }

    .quantity {
        font-size: 14px;
    }

    .total h3 {
        /* font-size: 1.75rem; */
        font-size: 14px;
    }

    #cartAmount {
        position: absolute;
        left: 117px;
        top: 48px;
        border: 1px solid red;
        background-color: red;
        color: white;
        font-size: 10px;
        height: 17px;
        width: 10px;
    }

    .header-container {
        /* height: 100%; */
        width: 100%;
        /* margin: 0 -16px; */
        /* background-color: #0b2c3d; */
        margin-top: 67px;
        background-color: white;

        /* background-image: url("images/home-1.webp");
        background-repeat: no-repeat; */
        display: flex;
        flex-direction: column;
        margin-left: 2px;
        padding: 0 0;

    }

    .header-container .left {

        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        flex-wrap: wrap;
        gap: 22px;
        margin-left: 16px;
        margin-top: 30px;

    }

    .header-container .left .title-1 {
        color: black;
        font-size: 15px;
    }

    .header-container .left .title-2 {
        color: black;
        font-size: 37px;
        font-weight: 600;
    }

    .header-container .left .title-3 {
        color: black;
        font-size: 12px;
    }


    .text-left {
        text-align: left !important;
        margin-left: 16px;
        width: 25%;
    }

    nav.navbar.navbar-expand-lg.navbar-light.bg-light {
        padding: 8px 22px;
    }

    .container-footer {
        width: 100%;
    }

    .container-footer p.title-1 {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
    }



    p.text-1 {
        font-size: 9px;
    }

}












/* background-color: #e29200; */