.navbar-nav {
    flex: auto !important;
    flex-wrap: wrap !important;
    gap: 30px !important;
    justify-content: center !important;
}

.jumbotron {
    background: rgb(0, 19, 36);
    background: linear-gradient(90deg, rgba(0, 19, 36, 1) 0%, rgba(0, 255, 239, 0.7960434173669468) 100%);
}

.navbar .content-right {
    display: flex;
    align-items: center;
}

button.btn-contact-nav {
    width: 100px;
    padding: -2px;
    height: 43px;
    border-radius: 29px;
    border: none;
    outline: none;
    background-color: #b39359;
    color: white;
}

#btn-sign-in {
    width: 102px;
    padding: -2px;
    height: 46px;
    /* border-radius: 29px; */
    border: none;
    outline: none;
    background-color: black;
    color: white;
}

h2 {
    color: white;
}

a {
    color: white;
}


.div-background-picture {
    background-image: url('images/bg4.jpg');
}

.navbar-brand img {

    width: 100px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 8px 70px;
}



@media only screen and (max-width :700px) {


    nav.navbar.navbar-expand-lg.navbar-light.bg-light {
        padding: 8px 18px;
    }



}















/* background-color: #e29200; */