.container-fluid {
    width: 100% !important;
    padding: 0 !important;
}

.navbar-nav {
    flex: auto !important;
    flex-wrap: wrap !important;
    gap: 30px !important;
    justify-content: center !important;
    /* width: 100%; */
}

.navbar .content-right {
    display: flex;
    align-items: center;
}

.container.header-link {
    margin-top: 74px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

div#label {
    margin-top: 100px;
}

.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
}

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.HomeBtn,
.checkout,
.removeAll,
.saveAll {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.shopping-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 92px 0;
}

/**
  * ! style rules for cart-item
  **/

.cart-item {
    border: 2px solid #212529;
    border-radius: 5px;
    display: flex;
    width: 798px;
    justify-content: space-between;
    height: 189px;
}

.cart-item img {
    width: 30%;
}

.details {
    width: 58%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 21px;
    padding: 4px 0;
}

.title-price-x {
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.title-price {
    display: flex;
    align-items: center;
    /* gap: 50px; */
    width: 371px;
    justify-content: space-between;
}

.cart-item-price {
    background-color: #212529;
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
    font-size: 21px;
    font-weight: 600;
}

.cart-buttons .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.h3,
h3 {
    /* font-size: 1.75rem; */

    font-size: 21px;
}

.quantity {
    font-size: 21px;
}

.quantity-text {
    font-size: 21px;
    font-weight: 600;
}

.title-price-name {
    font-size: 21px;
    font-weight: 600;
}

#bag-order {
    cursor: pointer;
}


























.header-container .btn-contact {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: black;
    /* border-radius: 13px; */
    padding: 6px 9px;
    color: white;
}

i.fas.fa-sign-in-alt {
    margin-left: 10px;
    font-size: 20px;
}

i.fas.fa-shopping-cart {
    position: relative;
}

#cartAmount {
    position: absolute;
    right: 143px;
    top: 5px;
    border: 1px solid red;
    background-color: red;
    color: white;
    font-size: 13px;
    height: 21px;
}



nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 8px 70px;
}


/* .container {
    max-width: 50rem !important;
} */
.content-right i {
    margin-right: 25px;
}

.navbar-brand {
    font-size: 25px;
    font-weight: 600;
}






.add-property button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #b39359;
    border-radius: 5px;
    padding: 6px 9px;
    color: white;
}

.header-container {
    height: 100%;
    width: 100%;
    /* margin: 0 -16px; */
    /* background-color: #0b2c3d; */
    margin-top: 67px;

    display: flex;
    padding: 0 160px;
    /* margin-x: 30px; */
    /* margin-right: 0; */
    /* margin-left: 36px; */
    /* left: 0; */
    /* position: fixed; */
    /* margin: 0; */
    /* margin-left: 31px; */


}

/* .header-container .left .title-1 {
    color: black;
    font-size: 18px;
}

.header-container .left .title-2 {
    color: black;
    font-size: 52px;
    font-weight: 600;
}

.header-container .left .title-3 {
    color: black;
    font-size: 21px;
} */

.header-container .left {

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 22px;
    margin-left: 116px;
}

.header-container .left .name {

    text-transform: uppercase;
    font-weight: 600;
    font-size: 27px;
}

.header-container .left .brand {

    font-size: 20px;
}

.header-container .left .rate {

    font-size: 20px;
}


.header-container .left .note {
    font-size: 20px;
}

.header-container .left .prices {
    font-size: 25px;
    font-weight: 600;
    color: red;
}

.header-container .left .btn-number {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 10px;
}

.header-container .left .btn-number i.fas.fa-minus {
    position: absolute;
    left: 5px;
    top: 5px;
}

.header-container .left .btn-number i.fas.fa-plus {
    position: absolute;
    left: 59px;
    top: 5px;
}

.header-container .left .btn-number span.number {
    font-size: 17px;
    /* position: absolute; */
    /* left: 24px; */
}

.header-container .left .btn-number #btn-decrease {
    width: 25px;
    height: 25px;
    border-radius: 13px;
    cursor: pointer;

}

.header-container .left .btn-number #btn-increase {
    width: 25px;
    height: 25px;
    border-radius: 13px;
    cursor: pointer;

}





.header-container .right {}

.header-container .right img {
    max-width: 100%;
    max-height: 100%;
}


.description {
    margin-top: 36px;
    padding: 0 25px;
}

.description p {
    font-size: 20px;
}

.description .des {
    font-weight: 600;
    font-size: 25px;
}

.body-container .item-list .item {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.card {
    width: 13rem !important;
}

.image-item {
    height: 257px;
}

img.card-img-top {
    width: 100%;
    height: auto;
}

.col-sm-12.title.text-center {
    font-size: 31px;
    font-weight: 600;

}

.item-name {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.item-price {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 13px;
}

.price-discount {
    font-size: 19px;
    font-weight: 600;
    color: red;
}

.price {
    font-size: 17px;
    text-decoration: line-through;
}

button#btn-view-all {
    margin-top: 20px;
    width: 90px;
    height: 38px;
    background-color: black;
    color: white;
    font-weight: 600;
    border: none;
    outline: none;
    text-transform: uppercase;
}

.container-footer p.title-1 {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.container-fluid.p-5.container-footer {
    background-color: #e7e7e7;
}

.text-left {
    text-align: left !important;
    margin-left: 148px;
    width: 25%;
}

.text-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 48px;
}

.container-fluid.p-5.container-footer {
    height: 285px;
}


@media only screen and (max-width :700px) {
    i.fas.fa-shopping-cart {
        position: relative;
    }

    .details {
        width: 62%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0px;
        padding: 4px 0;
        height: 100%;
    }

    .cart-item {
        border: 2px solid #212529;
        border-radius: 5px;
        display: flex;
        width: 348px;
        justify-content: space-between;
        height: 92px;
    }

    .title-price-x {
        width: 211px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* border: 2px solid red; */
        height: 40%;
    }

    .cart-buttons {
        height: 30%;
    }

    .total {
        height: 30%;
    }

    .title-price p {
        font-size: 14px;
    }

    .quantity-text {
        font-size: 14px;
        font-weight: 600;
    }

    .title-price-name {
        font-size: 14px;
    }

    .quantity {
        font-size: 14px;
    }

    .total h3 {
        /* font-size: 1.75rem; */
        font-size: 14px;
    }

    #cartAmount {
        position: absolute;
        left: 117px;
        top: 48px;
        border: 1px solid red;
        background-color: red;
        color: white;
        font-size: 10px;
        height: 17px;
        width: 10px;
    }

    .header-container {
        /* height: 100%; */
        width: 100%;
        /* margin: 0 -16px; */
        /* background-color: #0b2c3d; */
        margin-top: 67px;
        background-color: white;

        /* background-image: url("images/home-1.webp");
        background-repeat: no-repeat; */
        display: flex;
        flex-direction: column;
        margin-left: 2px;
        padding: 0 0;

    }

    .header-container .left {

        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        flex-wrap: wrap;
        gap: 22px;
        margin-left: 16px;
        margin-top: 30px;

    }

    .header-container .left .title-1 {
        color: black;
        font-size: 15px;
    }

    .header-container .left .title-2 {
        color: black;
        font-size: 37px;
        font-weight: 600;
    }

    .header-container .left .title-3 {
        color: black;
        font-size: 12px;
    }


    .text-left {
        text-align: left !important;
        margin-left: 16px;
        width: 25%;
    }

    nav.navbar.navbar-expand-lg.navbar-light.bg-light {
        padding: 8px 22px;
    }

    .container-footer {
        width: 100%;
    }

    .container-footer p.title-1 {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
    }



    p.text-1 {
        font-size: 9px;
    }

}












/* background-color: #e29200; */