.container-fluid {
    width: 100% !important;
    padding: 0 !important;
}

.navbar-nav {
    flex: auto !important;
    flex-wrap: wrap !important;
    gap: 30px !important;
    justify-content: center !important;
    /* width: 100%; */
}

.navbar .content-right {
    display: flex;
    align-items: center;
}


.header-container .btn-contact {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: black;
    /* border-radius: 13px; */
    padding: 6px 9px;
    color: white;
}

i.fas.fa-sign-in-alt {
    margin-left: 10px;
    font-size: 20px;
}



nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 8px 70px;
}


/* .container {
    max-width: 50rem !important;
} */
.content-right i {
    margin-right: 25px;
}

.navbar-brand {
    font-size: 25px;
    font-weight: 600;
}






.add-property button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #b39359;
    border-radius: 5px;
    padding: 6px 9px;
    color: white;
}

.header-container {
    height: 100%;
    width: 100%;
    /* margin: 0 -16px; */
    /* background-color: #0b2c3d; */
    margin-top: 67px;

    display: flex;
    /* margin-x: 30px; */
    /* margin-right: 0; */
    /* margin-left: 36px; */
    /* left: 0; */
    /* position: fixed; */
    /* margin: 0; */
    /* margin-left: 31px; */


}

.header-container .left .title-1 {
    color: black;
    font-size: 18px;
}

.header-container .left .title-2 {
    color: black;
    font-size: 52px;
    font-weight: 600;
}

.header-container .left .title-3 {
    color: black;
    font-size: 21px;
}

.header-container .left {

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 22px;
    margin-left: 116px;
}



.header-container .right {}

.header-container .right img {
    max-width: 100%;
    max-height: 100%;
}

.body-container .item-list .item {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.card {
    width: 13rem !important;
}

.image-item {
    height: 257px;
}

img.card-img-top {
    width: 100%;
    height: auto;
}

.col-sm-12.title.text-center {
    font-size: 31px;
    font-weight: 600;
    text-transform: uppercase;
}

.item-name {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.item-price {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 13px;
}

.price-discount {
    font-size: 19px;
    font-weight: 600;
    color: red;
}

.price {
    font-size: 17px;
    text-decoration: line-through;
}

button#btn-view-all {
    margin-top: 20px;
    width: 90px;
    height: 38px;
    background-color: black;
    color: white;
    font-weight: 600;
    border: none;
    outline: none;
    text-transform: uppercase;
}

.container-footer p.title-1 {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.container-fluid.p-5.container-footer {
    background-color: #e7e7e7;
}

.text-left {
    text-align: left !important;
    margin-left: 148px;
    width: 25%;
}

.text-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.pagination {

    justify-content: center;
    margin-top: 50px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

#cartAmount {
    position: absolute;
    right: 143px;
    top: 5px;
    border: 1px solid red;
    background-color: red;
    color: white;
    font-size: 13px;
    height: 21px;
}

@media only screen and (max-width :700px) {
    .header-container {
        /* height: 100%; */
        width: 100%;
        /* margin: 0 -16px; */
        /* background-color: #0b2c3d; */
        margin-top: 67px;
        background-color: white;

        /* background-image: url("images/home-1.webp");
        background-repeat: no-repeat; */

        display: flex;
        flex-direction: column;
        margin-left: 2px;

    }

    .header-container .left {

        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        flex-wrap: wrap;
        gap: 22px;
        margin-left: 16px;
        margin-top: 30px;

    }

    .header-container .left .title-1 {
        color: black;
        font-size: 15px;
    }

    .header-container .left .title-2 {
        color: black;
        font-size: 37px;
        font-weight: 600;
    }

    .header-container .left .title-3 {
        color: black;
        font-size: 12px;
    }


    .text-left {
        text-align: left !important;
        margin-left: 16px;
        width: 25%;
    }

    nav.navbar.navbar-expand-lg.navbar-light.bg-light {
        padding: 8px 22px;
    }

    .container-footer {
        width: 100%;
    }

    .container-footer p.title-1 {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
    }



    p.text-1 {
        font-size: 9px;
    }

}












/* background-color: #e29200; */