/* .container-fluid {
    width: 100% !important;
    padding: 0 !important;
} */

.navbar-nav {
    flex: auto !important;
    flex-wrap: wrap !important;
    gap: 30px !important;
    justify-content: center !important;
    /* width: 100%; */
}

.navbar .content-right {
    display: flex;
    align-items: center;
}


.header-container {
    height: 100%;
    width: 100%;
    /* margin: 0 -16px; */
    /* background-color: #0b2c3d; */
    margin-top: 67px;
    display: flex;
    flex-direction: row;
    /* margin-right: 0; */
    /* margin-left: 36px; */
    /* left: 0; */
    /* position: fixed; */
    /* margin: 0; */
    /* margin-left: 31px; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 70px;
}

i.fas.fa-sign-in-alt {
    margin-left: 10px;
    font-size: 20px;
}



nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 8px 70px;
}


/* .container {
    max-width: 50rem !important;
} */
.content-right i {
    margin-right: 25px;
}

.navbar-brand {
    font-size: 25px;
    font-weight: 600;
}







.header-container {
    height: 100%;
    width: 100%;

    margin-top: 67px;

    display: flex;



}

button#filter {
    margin-top: 21px;
    height: 30px;
    width: 74px;
    color: white;
    background-color: black;
}

.container.body-container {
    display: flex;
    width: 100%;
    margin-top: -63px;
}

.body-container .content-right {
    width: 35%;

}

.body-container .content-right {
    display: flex;
    flex-direction: column;
    height: 100%;


}

.body-container .content-right .categories {

    height: 20%;
}

.body-container .content-right .categories p.title {
    font-weight: 600;
    font-size: 18px;
}

.body-container .content-right .categories p {
    cursor: pointer;
}

.body-container .content-right .prices {

    height: 20%;
}

.body-container .content-right .prices .input {
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
}

.body-container .content-right .prices .input input.input-1 {
    width: 100px;
}

.body-container .content-right .prices .input input.input-2 {
    width: 100px;
}

.body-container .content-right .prices p.title-price {
    font-weight: 600;
    font-size: 18px;
    text-decoration: none !important;
}

.body-container .content-right .prices .check1 {
    margin-top: 15px;
}

.body-container .content-right .brands {

    height: 20%;
}

.body-container .content-right .brands p.title {
    font-weight: 600;
    font-size: 18px;
}

.body-container .content-right .colors {

    height: 20%;
}

.body-container .content-right .colors p.title {
    font-weight: 600;
    font-size: 18px;
}

.body-container .content-right .rating {

    height: 20%;
}

.body-container .content-right .rating p.title {
    font-weight: 600;
    font-size: 18px;
}


.body-container .content-right .rating i.far.fa-star {
    color: #ffb500;
    margin-right: 4px;
}

.body-container .content-right .rating i.fas.fa-star {
    color: #ffb500;
    margin-right: 4px;
}

input[type="radio"] {
    margin-right: 10px;
}

.body-container .content-left {
    width: 65%;
}


.body-container .item-list .item {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.card {
    width: 13rem !important;
}

.image-item {
    height: 257px;
}

img.card-img-top {
    width: 100%;
    height: auto;
}

.col-sm-12.title.text-center {
    font-size: 31px;
    font-weight: 600;
    text-transform: uppercase;
}

.item-name {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.item-price {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 13px;
}

.price-discount {
    font-size: 19px;
    font-weight: 600;
    color: red;
}

.price {
    font-size: 17px;
    text-decoration: line-through;
}

button#btn-view-all {
    margin-top: 20px;
    width: 90px;
    height: 38px;
    background-color: black;
    color: white;
    font-weight: 600;
    border: none;
    outline: none;
    text-transform: uppercase;
}

.container-footer p.title-1 {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.container-footer {
    background-color: #e7e7e7;
}

.text-left {
    text-align: left !important;
    margin-left: 148px;
    width: 25%;
}

.text-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.pagination {

    justify-content: center;
    margin-top: 50px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

#cartAmount {
    position: absolute;
    right: 143px;
    top: 5px;
    border: 1px solid red;
    background-color: red;
    color: white;
    font-size: 13px;
    height: 21px;
}


@media only screen and (max-width :700px) {


    .header-container {
        height: 100%;
        width: 100%;

        margin-top: 67px;

        display: flex;
        margin-left: 10px;



    }

    .body-container .content-right .categories {

        height: 7%;
    }

    .body-container .content-right .prices {

        height: 7%;
    }

    .body-container .content-right .brands {

        height: 7%;
    }

    .body-container .content-right .colors {

        height: 7%;
    }

    .body-container .content-right .rating {

        height: 8%;
    }

    .body-container .content-right .rating i.far.fa-star {
        color: #ffb500;
        margin-right: 0;
    }

    .body-container .content-right .rating i.fas.fa-star {
        color: #ffb500;
        margin-right: 0;
    }

    input[type="radio"] {
        margin-right: 3px;
    }


    nav.navbar.navbar-expand-lg.navbar-light.bg-light {
        padding: 8px 22px;
    }

    .container-footer .text-left {
        text-align: left !important;
        margin-left: 16px;
        width: 25%;
    }

    .container-footer {
        width: 100%;
    }

    .container-footer p.title-1 {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
    }

    p.text-1 {
        font-size: 9px;
    }

}












/* background-color: #e29200; */